@font-face {
  font-family: Inerta; src: url('../fonts/Inerta-Light.otf');
}

* {
  font-family: 'Inerta', Arial, sans-serif;
}

html, body, .ui-wrapper {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
}
.ui-wrapper {
  box-sizing: border-box;
  user-select: none;
}

.modal-window {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.4);
}

.modal-window > * {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.horizontal {
  display: flex;
  flex-flow: row;
}
.stretch {
  flex: 1;
}
.no-stretch {
  width: fit-content;
  height: fit-content;
}
.vertical {
  display: flex;
  flex-flow: column;
}
.to-end {
  align-items: end;
}
.centered {
  align-items: center;
}
.resource-box {
  margin: 3px;
  flex: 0 0 100px;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(0, 0, 128);
  border-left: 1px solid rgb(0, 0, 128);
}
.adv-map-border {
  display: flex;
  border: 1px solid rgb(247,222,123);
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  background: url(../img/background/mapborder.png);
}
.adv-map-content {
  position: absolute;
  overflow: hidden;
}
.top-left-map-corner {
  position:absolute;
  top: 0px;
  left: 0px;
}
.top-right-map-corner {
  position:absolute;
  top: 0px;
  right: 0px;
}
.bottom-left-map-corner {
  position:absolute;
  bottom: 0px;
  left: 0px;
}
.bottom-right-map-corner {
  position:absolute;
  bottom: 0px;
  right: 0px;
}
.menu-bar {
  border-left: 1px solid rgb(247,222,123);
  border-bottom: 1px solid rgb(247,222,123);
}
.brown-back {
  color: white;
  background-image: url(../img/background/brown.jpg);
}
.blue-back {
  background-image: url(../img/background/blue.jpg);
  color: white;
}
.with-frame {
  padding: 5px;
  background:
      url(../img/adventure/edge_top_left.png) left 0px top 0px no-repeat,
      url(../img/adventure/edge_top_right.png) right 0px top 0px no-repeat,
      url(../img/adventure/edge_bottom_left.png) left 0px bottom 0px no-repeat,
      url(../img/adventure/edge_bottom_right.png) right 0px bottom 0px no-repeat,
      transparent;
}
img.icon-24 {
  width: 24px;
  height: 24px;
}
.with-border {
  border: 1px solid rgb(247,222,123);
}
.with-border-top {
  border-top: 1px solid rgb(247,222,123);
}
.with-border-left {
  border-left: 1px solid rgb(247,222,123);
}
.bordered-brown {
  border-bottom: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(128, 128, 128);
  border-left: 1px solid rgb(128, 128, 128);
}
.unit-place-small {
  background: url(../img/icons/32x32/creature/empty.png);
}
.grid {
  background-image:
      repeating-linear-gradient(black 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, black 0 1px, transparent 1px 100%);
      background-size: 32px 32px;
}
.margined-2 {
  margin: 2px;
}
.margined-4 {
  margin: 4px;
}
.side-widget {
  width: 80px;
  font-size: 8px;
}
.gap-2 {
  gap: 2px;
}
.gap-10 {
  gap: 10px;
}
.gap-40 {
  gap: 40px;
}
.yellow-border {
  border: 1px solid rgb(247,222,123);
}
.gray-border {
  border: 1px solid #80808080;
}
.black-border {
  border: 1px solid black;
}
.selection-border {
  border-color: #e9cd91;
}
.yellow-text {
  color: yellow;
}
.font-10 {
  font-size: 10px;
}
.minimap {
  position: relative;
}
.minimap > canvas {
  width: 144px;
  height: 144px;
  position: absolute;
  left: 24px;
  top: 25px;
}
.adv-map-controls {
  width: 100%;
  height: 100%;
  background-color: #ffffff00;
}
.orange-gradient-back {
  background: rgb(231,189,99);
  background: linear-gradient(180deg, rgba(231,189,99,1) 0%, rgba(123,82,0,1) 100%);
}
.gray-gradient-back {
  background: rgb(189,189,189);
  background: linear-gradient(180deg, rgba(189,189,189,1) 0%, rgba(82,82,82,1) 100%);
}
.red-gradient-back {
  background: rgb(217,105,105);
  background: linear-gradient(180deg, rgba(217,105,105,1) 0%, rgba(181,16,16,1) 100%);
}
.green-gradient-back {
  background: rgb(115,181,123);
  background: linear-gradient(180deg, rgba(115,181,123,1) 0%, rgba(16,82,24,1) 100%);
}