@font-face {
  font-family: Inerta; src: url('../fonts/Inerta-Light.otf');
}

* {
  font-family: 'Inerta', Arial, sans-serif;
}

html, body, .ui-wrapper {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
}
.wrapper {
  box-sizing: border-box;
}
.ui-wrapper {
  box-sizing: border-box;
  user-select: none;
}
.horizontal {
  display: flex;
  flex-flow: row;
}
.stretch {
  flex: 1;
}
.no-stretch {
  flex: 0 0 auto;
}
.vertical {
  display: flex;
  flex-flow: column;
}
.status-area {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
}
.status-area {
  gap: 2px;
  font-size: 12px;
  color: white;
  padding-top: 2px;
}
.status-bar {
  align-items: center;
  border-left: 1px solid rgb(247,222,123);
  border-bottom: 1px solid rgb(247,222,123);
  border-right: 1px solid rgb(247,222,123);
}
.status-field {
  height: 21px;
  box-sizing: border-box;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
}
.status-resources {
  flex: 1 0 auto;
  overflow: hidden;
}
.centered {
  align-items: center;
}
.resource-box {
  margin: 3px;
  flex: 0 0 100px;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(0, 0, 128);
  border-left: 1px solid rgb(0, 0, 128);
}
.status-messages {
  flex: 0 0 114px;
  min-width: 0px;
  padding-left: 3px;
}
.adv-map-border {
  display: flex;
  border: 1px solid rgb(247,222,123);
  flex: 1 1 auto;
  position: relative;
  overflow: hidden;
  background: url(../img/background/mapborder.png);
}
.adv-map-content {
  position: absolute;
}
.top-left-map-corner {
  position:absolute;
  top: 0px;
  left: 0px;
}
.top-right-map-corner {
  position:absolute;
  top: 0px;
  right: 0px;
}
.bottom-left-map-corner {
  position:absolute;
  bottom: 0px;
  left: 0px;
}
.bottom-right-map-corner {
  position:absolute;
  bottom: 0px;
  right: 0px;
}
.menu-bar {
  border-left: 1px solid rgb(247,222,123);
  border-bottom: 1px solid rgb(247,222,123);
}
.brown-back {
  color: white;
  background-image: url(../img/background/brown.jpg);
}
.blue-back {
  background-image: url(../img/background/blue.jpg);
}
.with-frame {
  padding: 5px;
  background:
      url(../img/adventure/edge_top_left.png) left 0px top 0px no-repeat,
      url(../img/adventure/edge_top_right.png) right 0px top 0px no-repeat,
      url(../img/adventure/edge_bottom_left.png) left 0px bottom 0px no-repeat,
      url(../img/adventure/edge_bottom_right.png) right 0px bottom 0px no-repeat,
      transparent;
}
img.icon-24 {
  width: 24px;
  height: 24px;
}
.with-border {
  border: 1px solid rgb(247,222,123);
}
.with-border-top {
  border-top: 1px solid rgb(247,222,123);
}
.with-border-left {
  border-left: 1px solid rgb(247,222,123);
}
.bordered-brown {
  border-bottom: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(128, 128, 128);
  border-left: 1px solid rgb(128, 128, 128);
}
.unit-place-small {
  background: url(../img/icons/32x32/creature/empty.png);
}
.grid {
  background-image:
      repeating-linear-gradient(black 0 1px, transparent 1px 100%),
      repeating-linear-gradient(90deg, black 0 1px, transparent 1px 100%);
      background-size: 32px 32px;
}
.margined-2 {
  display: flex;
  margin: 2px;
}
.margined-4 {
  display: flex;
  margin: 4px;
}
.margined-6 {
  display: flex;
  margin: 6px;
}
.portrait {
  border: 1px solid #80808036;
}
.side-widget {
  width: 80px;
  font-size: 8px;
}
.gap-2 {
  gap: 2px;
}
.flex {
  display: flex;
}
.gray-border {
  border: 1px solid #80808036;
}
.yellow-text {
  color: yellow;
}
.font-10 {
  font-size: 10px;
}
.controls {
  width: inherit;
  height: inherit;
  position: absolute;
}