/* The Modal (background) */
.modal-window {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.no-spacing table, .no-spacing tr, .no-spacing td {
  border-spacing: 0px;
}

.battle-field {
  position: relative;
  width: 800px;
  height: 600px;
}

.battle-field > * {
  position: absolute;
}

.modal-brown {
  background-image: url(https://ihromant.github.io/img/background/brown.jpg);
  border: 1px solid yellow;
  color: white;
}

.modal-ivory {
  background-color:ivory;
}

.vertical {
  display: block;
}

.scroll-list {
  display: block;
  width: 480px;
  height: 360px;
  overflow-y: auto;
}

.number-box {
  position: absolute;
  border: 1px solid yellow;
  background-color: blue;
  text-align: center;
  width: 32px;
  height: 12px;
  font-size: 12px;
  color: yellow;
}

.tooltip {
  position: absolute;
  padding: 6px;
  background: #ffd;
  border: 1px #886 solid;
  border-radius: 5px;
}

.left-sided {
  position: absolute;
  right: 100%
}

.right-sided {
  position: absolute;
  left: 100%
}

.modal-blue {
  background-image: url(https://ihromant.github.io/img/background/blue.jpg);
}

.town-img {
  width: 48px;
  height: 32px;
  border: 2px solid transparent;
  cursor: pointer;
}

.final-select-img {
  width: 58px;
  height: 64px;
  border: 1px solid black;
  cursor: pointer;
}

.town-img.active {
  border: 2px solid yellow;
}

.town-img:not(.active):hover {
  border: 2px solid orange;
}

.final-select-img:hover {
  border: 1px solid orange;
}

.hero-screen {
  position: relative;
}

.hero-screen:before, .hero-screen:after, .hero-screen > *:before, .hero-screen > *:after {
  display: block;
  content: "";
  width: 46px;
  height: 46px;
  position: absolute;
}

.hero-screen:before {
  background-image: url(https://ihromant.github.io/img/parts/left_top.png);
  top: 0px;
  left: 0px;
}

.hero-screen:after {
  background-image: url(https://ihromant.github.io/img/parts/right_top.png);
  top: 0px;
  right: 0px;
}

.hero-screen > *:before {
  background-image: url(https://ihromant.github.io/img/parts/left_bot.png);
  bottom: 0px;
  left: 0px;
}

.hero-screen > *:after {
  background-image: url(https://ihromant.github.io/img/parts/right_bot.png);
  bottom: 0px;
  right: 0px;
}

.unit-portrait {
  width: 58px;
  height: 64px;
  border: 1px solid #80808036;
}

.artifact-slot {
  width: 44px;
  height: 44px;
  padding: 0px;
  background: url(https://ihromant.github.io/img/icons/44x44/sec_skill/empty.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#move-line {
  bottom: 0px;
  left: 96px;
  width: 608px;
  height: 44px;
  line-height: 0;
}

.line-item-wrapper {
  width: 29px;
  height: 42px;
  border: 1px solid yellow;
  margin-right: 1px;
  float: left;
}

.line-item-background {
  background-image: url(https://ihromant.github.io/img/background/brown.jpg);
}

.line-image-icon {
  width: 29px;
  height: 32px;
  border-bottom: 1px solid yellow;
}

.line-number-box {
  width: 29px;
  height: 9px;
  background-color: blue;
  font-size: 9px;
  color: white;
  text-align: center;
  line-height: normal;
}

.line-round-text {
  color: white;
  text-align: center;
  line-height: 1.5em;
}

.cursor-cancel {
  cursor: url(https://ihromant.github.io/cursors/Cursor47.cur), auto;
}

.cursor-north-east {
  cursor: url(https://ihromant.github.io/cursors/Cursor54.cur), auto;
}

.cursor-east {
  cursor: url(https://ihromant.github.io/cursors/Cursor55.cur), auto;
}

.cursor-south-east {
  cursor: url(https://ihromant.github.io/cursors/Cursor56.cur), auto;
}

.cursor-south-west {
  cursor: url(https://ihromant.github.io/cursors/Cursor57.cur), auto;
}

.cursor-west {
  cursor: url(https://ihromant.github.io/cursors/Cursor58.cur), auto;
}

.cursor-north-west {
  cursor: url(https://ihromant.github.io/cursors/Cursor59.cur), auto;
}

.cursor-north {
  cursor: url(https://ihromant.github.io/cursors/Cursor60.cur), auto;
}

.cursor-south {
  cursor: url(https://ihromant.github.io/cursors/Cursor61.cur), auto;
}

.cursor-arrow {
  cursor: url(https://ihromant.github.io/cursors/Cursor50.cur), auto;
}

.cursor-broken-arrow {
  cursor: url(https://ihromant.github.io/cursors/Cursor62.cur), auto;
}
