/* The Modal (background) */
.modal-window {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

.modal-window > * {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.battle-field {
  position: relative;
  width: 800px;
  height: 600px;
}

.battle-field > * {
  position: absolute;
}

.modal-brown {
  background-image: url(../img/background/brown.jpg);
  border: 1px solid yellow;
  color: white;
}

.modal-ivory {
  background-color:ivory;
}

.scroll-list {
  display: block;
  width: 480px;
  height: 360px;
  overflow-y: auto;
}

.number-box {
  position: absolute;
  border: 1px solid yellow;
  background-color: blue;
  text-align: center;
  width: 32px;
  height: 12px;
  font-size: 12px;
  color: yellow;
}

.tooltip {
  position: absolute;
  padding: 6px;
  background: #ffd;
  border: 1px #886 solid;
  border-radius: 5px;
}

.town-img {
  width: 48px;
  height: 32px;
  border: 2px solid transparent;
  cursor: pointer;
}

.final-select-img {
  width: 58px;
  height: 64px;
  border: 1px solid black;
  cursor: pointer;
}

.town-img.active {
  border: 2px solid yellow;
}

.town-img:not(.active):hover {
  border: 2px solid orange;
}

.final-select-img:hover {
  border: 1px solid orange;
}

.artifact-slot {
  width: 44px;
  height: 44px;
  padding: 0px;
  background: url(../img/icons/44x44/sec_skill/empty.png);
  background-size: contain;
  background-repeat: no-repeat;
}

#move-line {
  bottom: 0px;
  left: 96px;
  width: 608px;
  height: 44px;
  line-height: 0;
}

.line-item-wrapper {
  width: 29px;
  height: 42px;
  border: 1px solid yellow;
  margin-right: 1px;
  float: left;
}

.line-item-background {
  background-image: url(../img/background/brown.jpg);
}

.line-image-icon {
  width: 29px;
  height: 32px;
  border-bottom: 1px solid yellow;
}

.line-number-box {
  width: 29px;
  height: 9px;
  background-color: blue;
  font-size: 9px;
  color: white;
  text-align: center;
  line-height: normal;
}

.line-round-text {
  color: white;
  text-align: center;
  line-height: 1.5em;
}

.cursor-cancel {
  cursor: url(../cursors/Cursor47.cur), auto;
}

.cursor-north-east {
  cursor: url(../cursors/Cursor54.cur), auto;
}

.cursor-east {
  cursor: url(../cursors/Cursor55.cur), auto;
}

.cursor-south-east {
  cursor: url(../cursors/Cursor56.cur), auto;
}

.cursor-south-west {
  cursor: url(../cursors/Cursor57.cur), auto;
}

.cursor-west {
  cursor: url(../cursors/Cursor58.cur), auto;
}

.cursor-north-west {
  cursor: url(../cursors/Cursor59.cur), auto;
}

.cursor-north {
  cursor: url(../cursors/Cursor60.cur), auto;
}

.cursor-south {
  cursor: url(../cursors/Cursor61.cur), auto;
}

.cursor-arrow {
  cursor: url(../cursors/Cursor50.cur), auto;
}

.cursor-broken-arrow {
  cursor: url(../cursors/Cursor62.cur), auto;
}