html, body, .ui-wrapper {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  border: 0px;
  overflow: hidden;
}
.ui-wrapper {
  background-image: url(../img/background/blue.jpg);
  box-sizing: border-box;
  user-select: none;
}
.ui-wrapper {
  border: 1px solid rgb(247,222,123);
  display: flex;
  display: flex;
  flex-flow: column;
  flex: 1 1 0%;
}
.horizontal {
  display: flex;
  flex-flow: row;
}
.stretch {
  flex: 1 1 auto;
}
.no-stretch {
  flex: 0 0 auto;
}
.vertical {
  display: flex;
  flex-flow: column;
}
.status-area {
  display: flex;
  overflow: hidden;
  white-space: nowrap;
  cursor: default;
}
.status-area {
  gap: 2px;
  font-size: 12px;
  color: white;
  padding-top: 2px;
}
.status-bar {
  align-items: center;
  border-left: 1px solid rgb(247,222,123);
  border-bottom: 1px solid rgb(247,222,123);
  border-right: 1px solid rgb(247,222,123);
}
.status-field {
  height: 21px;
  box-sizing: border-box;
  display: flex;
  flex: 1 0 auto;
  align-items: center;
}
.status-resources {
  flex: 1 0 auto;
  overflow: hidden;
}
.centered {
  align-items: center;
}
.resource-box {
  margin: 3px;
  flex: 0 0 100px;
  border-bottom: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(0, 0, 128);
  border-left: 1px solid rgb(0, 0, 128);
}
.status-messages {
  flex: 0 0 114px;
  min-width: 0px;
  padding-left: 3px;
}
.adv-map {
  display:flex;
  border: 1px solid rgb(247,222,123);
  flex: 1 1 auto;
}
.menu-bar {
  border-left: 1px solid rgb(247,222,123);
  border-bottom: 1px solid rgb(247,222,123);
}
.brown-back {
  color: white;
  background-image: url(../img/background/brown.jpg);
}
.with-frame {
  border: 1px solid rgb(247,222,123);
  padding: 5px;
  background:
      url(../img/adventure/edge_top_left.png) left 0px top 0px no-repeat,
      url(../img/adventure/edge_top_right.png) right 0px top 0px no-repeat,
      url(../img/adventure/edge_bottom_left.png) left 0px bottom 0px no-repeat,
      url(../img/adventure/edge_bottom_right.png) right 0px bottom 0px no-repeat,
      transparent;
}
img.resize-75 {
  max-width: 75%;
  height: auto;
}
.with-border {
  border: 1px solid rgb(247,222,123);
}
.bordered-brown {
  border-bottom: 1px solid rgb(255, 255, 255);
  border-right: 1px solid rgb(255, 255, 255);
  border-top: 1px solid rgb(128, 128, 128);
  border-left: 1px solid rgb(128, 128, 128);
}
.unit-place-small {

}